*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* creating root for colors */
:root {
 --primary-border-color:#252525;
}

body{
    background-color: rgb(0, 0, 0);
    color: #ffff;
}

/* nav side bar */
.sideBar-parent{
    height: 100vh;
    width: 245px;
    border-style: none;
    border-right: 1px solid var(--primary-border-color);
    position: fixed;
}

.sideBar-wrapper{
    margin-left: 30px;
}

/* font family for instagram */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sideBar-wrapper h1{
    margin-top: 45px;
    font-size: 30px;
    margin-bottom: 30px;
}

/* list of items in sidebar*/
.nav-ol, .nav-ul{
 text-decoration: none;
 list-style: none;
 font-size: 16px;
}

.nav-ol li{
   margin-top: 37px;
   display: flex;
   align-items: center;
} 

.nav-ol li i, .nav-ul li i{
    margin-right: 20px;
}

/* ol svg selector */
.x1lliihq{
    margin-right: 20px;
}

/* unorder list in side bar */
.nav-ul{
    margin-top: 80px;
}

.nav-ul li{
    margin-top: 40px;
}

/* swiper css */
#swiper-heading{
    padding-top: 20px;
    margin-left: 35%;
    font-size: 18px;
}

.mySwiper {
    width:468px;
    height: 100%;
}

.swiper-slide {
    width: 168px !important;
    height: 246px !important;
}

.swiper-pagination-bullet{
    background-color:white !important;
    margin-top:20px;
}
/* template for slider */
#card-Parent{
    border: 1px solid var(--primary-border-color);
    width:170px;
    height: 246px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}
#card-sibling1{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#card-sibling1-img{
    object-fit: cover;
    border-radius: 50%;
    margin-top: 25px;
    overflow:hidden;
}
#card-sibling1-h1{
    font-size:14px;
    font-weight: 300;
    margin-top:10px;
}
#card-sibling1-p{
    font-weight:400;
    font-size:14px;
    color: #a8a8a8;
    margin-top:10px;
}
#card-sibling2{
    position: absolute;
    bottom: 5px;
    text-align: center;
    right: 0px; left: 0px;
    border: 1px solid var(--primary-border-color);
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    height:30px; display: flex;
    justify-content: center;
    align-items: center;
}
#card-sibling2-btn1{
    border-style: none;
    background-color:black;
    color: #0082f5;
    cursor: pointer;
}
#card-sibling3{
    position:absolute;
    top: 10px;
    right: 10px;
    color: #7e7e7e;
}

/* posts section start */
#posts_parent{
    margin: auto;
    margin-top: 50px;
    width: 468px;
    overflow: hidden;
}
#posts_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:20px;
}
#posts_head_sibling1{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#circle_icons_posts{
    font-size:9px;
}
#days_posts{
    color: #565656;
}
.fa-certificate{
    color: #0082f5;
}
#posts_head_sibling1_img{
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

#post_img{
    border-radius: 5px;
    width:468px ;
    height: 100%;
    object-fit: cover;
}
.post_icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.post_icons i{
    font-size: 25px;
}
.post_icons1{
    margin-left:-10px;
}
.post_icons1 i{
    margin-left: 10px;
}
.posts_likes{
    margin-top: 20px;
}

/* login hmtl page */
.formParent{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--primary-border-color);
    width: 350px;
    height: 406px;
}
.icons-svg1{
    margin:50px 0px 50px 0px;
    width: 174px;
    height: 50px;
}
.formInputs{
    display: flex;
    flex-direction: column;
}
.formInputs input{
    border-style: none;
    background-color:#000;
    padding:0px 20px 0px 20px;
    width: 258px;
    height: 36px;
    color: #7e7e7e;
    margin-top: 10px;
    border: 1px solid var(--primary-border-color);
}
.formInputs input::placeholder{
    color:#fafafa;
    font-size: 13px;
}
.formInputs button{
    margin-top: 10px;
    height: 36px;
    background-color: #0082f5;
    border: 1px solid var(--primary-border-color);
    border-radius:10px;
    color: white;
    cursor: pointer;
}
.hr_elements{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hr_elements p{
    margin: 0px 10px 0px 10px;
}
.hr_elements hr{
    width:100px;
    border:1px solid var(--primary-border-color);
}
.links{
    display: flex;
    justify-content:center;
    margin-top:30px;
    align-items: center;
}
.links i{
    margin-right: 10px;
    color: #0082f5;
}
.links p{
    color: #0082f5;
}
.forgetText{
    color: #9b9b9b;
    margin-top: 10px;
    font-size: 13px;
}
.form2{
    margin-top:10px;
    width:350px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-border-color);
    height:65px;
}
.form2Span{
    color: #0082f5;
    margin-left: 10px;
}
.getApp{
    margin-top: 20px;
}
.flex_img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_img img{
    width: 135px;
    height: 40px;
    margin:20px 0px 0px 20px;

}